@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 999;
}

.modal-panel {
  background: #111;
  width: 300px;
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 255, 234, 0.3);
  animation: slideIn 0.4s ease forwards;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-input {
  background: #222;
  border: 1px solid #00ffea;
  color: #00ffea;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.login-btn {
  background: #00ffea;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2em;
  color: #ccc;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

